<!DOCTYPE html>
<html lang="en" ng-app="Memeorable" ng-controller="themeCtrl as theme">
<!-- HEAD AREA -->

<head>
  <!-- Webpage Title -->
  <title>Discover - MEMEORABLE</title>
  <!-- Website META data -->
  <meta property="og:image" content="https://www.memeorable.xyz/assets/img/avatar/avatar-white.jpg">
  <meta property="og:image:width" content="600">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Google Fonts -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        "families": ["Montserrat:400,500,600,700", "Noto+Sans:400,700"]
      },
      active: function () {
        sessionStorage.fonts = true;
      }
    });
  </script>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <!-- (CSS) Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/preloader.css">

  <link rel="stylesheet" ng-href="assets/css/{{darkmode && 'elisyam-1.5-dark.css' || 'elisyam-1.5.css'}}">
  <link rel="stylesheet" ng-href="assets/css/{{darkmode && 'custom-dark.css' || 'custom.css'}}">

  <!-- Javascript (JS) Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="assets/js/angular.min.js"></script>
  <script src="assets/js/ang-helpers.js"></script>
  <script src="assets/js/ang-templateFunctions.js"></script>
  <script src="assets/js/angular-app.js"></script>
</head>
<!-- Start of Body -->

<body id="page-top">
  <!-- Begin Preloader -->
  <div id="preloader">
    <div class="canvas">
      <img src="assets/img/brand/memeorable_red.png" alt="logo" class="prelogo">
      <div class="spinner"></div>
    </div>
  </div>
  <!-- End Preloader -->
  <div class="page db-social" id="content">
    <!-- Begin Header -->
    <header class="header">
      <nav class="navbar fixed-top">
        <!-- Search Bar -->
        <div class="search-box" style="display: none;" ng-keydown='theme.keyListen($event)'>
          <button class="dismiss">
            <i class="ion-close-round"></i>
          </button>
          <form id="searchForm" role="search">
            <input type="search" placeholder="Search something ... (spaces will be stripped)" class="form-control"
              id="SearchBar" autofocus>
          </form>
        </div>
        <!-- Top NavBar -->
        <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
          <!-- LEFT SIDE OF TOP -->
          <div class="col-4">
            <div class="navbar-header">
              <!-- Toggle Button -->
              <a id="toggle-btn" href="#" class="menu-btn active">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
          </div>
          <!-- CENTER OF TOP -->
          <div class="col-4 mx-auto text-center d-block">
            <a href=index.html>
              <img src="assets/img/brand/memeorable_white.png" alt="logo" class="mx-auto d-block justify-content-center"
                style="width: 70px;" id="brand">
            </a>
          </div>
          <!-- RIGHT SIDE OF TOP -->
          <div class="col-4">
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
              <!-- Search  -->
              <li class="nav-item d-flex align-items-center">
                <a id="search" href="#">
                  <i class="la la-search"></i>
                </a>
              </li>
              <!-- Create Now Button -->
              <li ng-hide='loggedOut'>
                <a class="btn btn-secondary my-auto ripple mr-3 mb-3 d-none d-sm-none d-md-block text-danger"
                  role="button" data-toggle="modal" data-target="#success-modal">
                  Create Now
                </a>
              </li>
              <!-- User and User Dropdown -->
              <li class="nav-item dropdown" ng-hide='loggedOut'>
                <a id="user" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" class="nav-link">
                  <img src="{{userPic}}" alt="..." class="avatar auto-mx rounded-circle">
                </a>
                <ul aria-labelledby="user" class="user-size dropdown-menu">
                  <li class="welcome">
                    <img src="{{userPic}}" alt="..." class="avatar auto-mx rounded-circle">
                  </li>
                  <li class="mx-auto text-center">
                    <span id="username">{{User.username}}</span>
                  </li>
                  <li class="separator"></li>
                  <li>
                    <a href="profile.html" class="dropdown-item">
                      Profile
                    </a>
                  </li>
                  <li>
                    <a href="settings.html" class="dropdown-item">
                      Settings
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">
                      Help/FAQ (Coming Soon)
                    </a>
                  </li>
                  <li class="separator"></li>
                  <li class="text-center">
                    <button id="darkmodebutton" value="darkoff" ng-click="theme.swapDarkmode(!darkmode)"
                      class="btn btn-primary btn-square mr-1 mb-2 mx-auto">
                      Turn Dark Mode {{darkmode && "Off" || "On"}}
                    </button>
                  </li>
                  <li>
                    <a rel="nofollow" ng-click="theme.logOut()" href="login.html"
                      class="dropdown-item logout text-center" data-toggle="tooltip" data-placement="bottom" title=""
                      data-original-title="Log Out">
                      <i class="la la-sign-out"></i>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Topbar -->
      </nav>
    </header>
    <!-- End Header -->
    <!-- Page Content -->
    <div class="page-content d-flex align-items-stretch">
      <!-- LEFT SIDE BAR NAVIGATION -->
      <div class="compact-sidebar light-sidebar has-shadow">
        <nav class="side-navbar box-scroll sidebar-scroll">
          <ul class="list-unstyled left-nav">
            <!-- Add <span> between the button text to add hover disappearing effect -->
            <li ng-hide='loggedOut'>
              <a href="index.html">
                <i class="ti ti-layout-media-center-alt"></i>
                Newsfeed
              </a>
            </li>
            <li ng-show='loggedOut'>
              <a href="../../login.html"><i class="ti ti-lock"></i>Login</a>
            </li>
            <li class='active'>
              <a href="discover.html">
                <i class="ti ti-gallery"></i>
                Discover
              </a>
            </li>
            <li ng-hide='loggedOut'>
              <a href="profile.html">
                <i class="ti ti-user"></i>
                Profile
              </a>
            </li>
            <li ng-hide='loggedOut'>
              <hr class="bg-secondary d-block d-sm-block d-md-none">
            </li>
            <li ng-hide='loggedOut'>
              <a href="#" class="my-auto d-block d-sm-block d-md-none" role="button" data-toggle="modal"
                data-target="#success-modal">
                <i class="la la-plus"></i>
                Create Now
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- LEFT SIDE BAR NAVIGATION -->
      <!-- CONTENT AREA -->
      <div class="content-inner compact" ng-controller="discoverCtrl as disc">
        <!-- MAIN AREA -->
        <div class="container-fluid">
          <div class="row justify-content-center">
            <!-- TRENDING AREA -->
            <div class="col-12">
              <h1>Discover What's New! &#x1F525;</h1>
              <br>
              <div class="row">
                <div class="col-xl-3 col-md-4 col-sm-6 mb-4 " ng-repeat="temp in templates">
                  <figure class="img-hover-02 d-flex discovery-img-box">
                    <div class="discover_img my-auto mx-auto">
                      <img src="{{ temp.tLink }}" class="img-thumbnail">
                    </div>
                    <i class="viewcreations">
                      <b>View Creations</b>
                    </i>
                    <a href="showposts.html?id={{ temp._id }}"></a>
                  </figure>
                </div>
              </div>
            </div>
            <!-- END OF TRENDING AREA -->
            <div class=“row”>
              <div class=“col-12”>
                <div ng-show='more' class="row mx-auto align-content-center text-align-center" id="more">
                  <button type="button" class="btn btn-secondary mx-auto" ng-click="loadMoreDfeed()">
                    Show More
                  </button>
                </div>
              </div>
            </div>
          </div><!-- End Row -->
        </div><!-- End of MAIN AREA -->
        <!-- Begin Page Footer-->
        <footer class="main-footer">
          <div class="row">
            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
              <p>&copy; 2019 Memeorable. All Rights Reserved.</p>
            </div>
            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="changelog.html">Changelog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
        <!-- End Page Footer -->
        <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
      </div>
      <!-- End of Content Area -->
    </div>
    <!-- End Page Content -->
  </div>
  <!-- Upload Modal -->
  <div id="success-modal" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center mb-2">
          <span class="ti-large ti-ruler-pencil mt-5"></span>
          <div class="section-title mt-5 mb-2">
            <h2 class="upload-modal-title">Create your Meme</h2>
          </div>
          <p class="mb-5">Select a template option.</p>
          <a href="upload.html" class="btn btn-secondary mb-3 mr-2" role="button">
            <span class="ti-upload"></span>
            Upload Template
          </a>
          <a href="choosetemplate.html" class="btn btn-secondary mb-3 ml-2" role="button">
            <span class="ti-layout-grid3"></span>
            Choose from Library
          </a>
          <br>
          <a href="" class="btn btn-danger mb-3 mx-auto px-4" role="button" data-dismiss="modal">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Upload Modal -->
  <!-- Other JS script + files -->
  <script src="assets/js/core.min.js"></script>
  <script src="assets/vendors/js/nicescroll/nicescroll.min.js"></script>

  <script src="assets/vendors/js/app/app.min.js"></script>
  <!-- Tooltip Script -->
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>